body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.timer-container {
    text-align: center;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgb(255, 104, 16);
}

#countdown {
    display: flex;
    justify-content: center;
    gap: 20px;
}

#countdown div {
    font-size: 1.5em;
}

#countdown span {
    font-weight: bold;
    font-size: 2em;
    display: block;
}